body {
    margin: 0;
    background-color: #27AE60;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #D3D6D6;
    height: 90%;
    width: 80%;
}

.container header {
    text-align: center;
    width: 100%;
    background-color: #F5F5F5;
    padding: .5rem;
    box-sizing: border-box;
}

.container header h1{
    margin: 0;
    font-size: 1rem;
}

.container main {
    display: flex;
    flex-direction: column;
}

.container main .caixa_msg {
    background-color: #202C33;
    color: #F5F5F5;
    width: 50%;
    margin: 1rem;
    padding: 0 1rem 1rem 1rem;
    border-radius: 0 1rem 1rem 1rem;
}

.container main .caixa_msg .rotulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
}

.container main .caixa_msg .rotulo p{
    margin: .5rem 0;
    color: #D8D8D8;
}

.container main .caixa_msg .mensagem {
    text-align: justify;
}

.container main .me {
    align-self: flex-end;
    background-color: #008669;
    color: #F5F5F5;
    width: 50%;
    margin: 1rem;
    padding: 0 1rem 1rem 1rem;
    border-radius: 1rem 0 1rem 1rem;
}

.container form {
    position: sticky;
    top: 100%;
    background-color: #F5F5F5;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container form div {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.container form .input {
    margin: 0 1rem;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
}

.container form .submit {
    background-color: #32465A;
    padding: 1rem;
    cursor: pointer;
}

.container form .input input {
    border-radius: 1rem;
    border: none;
    background-color: #D5D5D5;
    padding: .5rem;
    width: 95%;
}

.container form .input input:focus {
    background-color: #C2C2C2;
    outline: none;
}

.container form img {
    height: 1rem;
    display: inline;
}