body {
    background-image: url(./images/pattern.jpg);
    background-size: auto;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}
body.dark-mode{
    background-image: url(./images/black-pattern.jpg);
}
label{
    color: white;
    font-size: medium;
}
.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 260px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.678) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 45px;
    background-color: #FFC639;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    color: #FFF;
    background-color: #FFC639;
    width: 100%;
}

.login_btn:hover {
    background-color: white;
    color: #000;
}
.dark-btn{
    width: 70px;
    height: 45px;
    border: 5px solid #ffffff;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.dark-btn::before{
    content: '';
    position: absolute ;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    top: 2.1px ;
    left: 2px;
    
    
}