body {
    background-image: url(./images/pattern.jpg);
    background-size: auto;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 240px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.678) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #00ff00;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    color: black;
    background-color: #00ff00;
    width: 100%;
}

.login_btn:hover {
    background-color: white;
}